<h4><%= @hamper.name %></h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Manage</th>
    </tr>
  </thead>

  <tbody>
    <% @hamper_items.each do |hamper_item| %>
      <tr>        
        <td><%= Product.find(hamper_item.product_id).name %></td>
        <td><%= hamper_item.quantity %></td>
        <td><%= hamper_item.price_when_ordered %></td>
        <td>
          <% if @hamper.ordered != true %>
            <%= link_to 'Delete Product', "/hampers/#{hamper_item.id}/removeitem", class: 'btn btn-sm btn-danger', method: :put, data: { confirm: 'Are you sure you want to delete this hamper?' } %>
          <% end %>
          <% if @hamper.ordered == true %>
            Hamper Ordered
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>