<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @hamper.customer_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @hamper.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @hamper.price %>
</p>

<p>
  <strong>Greeting:</strong>
  <%= @hamper.greeting %>
</p>

<p>
  <strong>Items:</strong><br>
  <% @hamper.hamper_items.each do |item| %>
    <%= product_name(item.product_id) %><br>
  <% end %>
</p>

<%= link_to 'Edit', edit_hamper_path(@hamper) %> |
<%= link_to 'Back', hampers_path %>
