<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hamper.name %>
</p>

<p>
  <strong>Greeting:</strong>
  <%= @hamper.greeting %>
</p>

<p>
  <strong>Items:</strong><br>
  <% @hamper.hamper_items.each do |item| %>
    <%= item.quantity %> x <%= product_name(item.product_id) %> @ <%= currency(item.price_when_ordered) %><br>
  <% end %>
</p>

<%= link_to 'Edit', edit_hamper_path(@hamper) %> |
<%= link_to 'Back', hampers_path %>
