<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @product_like.product_id %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @product_like.customer_id %>
</p>

<%= link_to 'Edit', edit_product_like_path(@product_like) %> |
<%= link_to 'Back', product_likes_path %>
