    <!-- Page Content -->
    <div class="container">

      <!-- Heading Row -->
      <div class="row my-4">
        <div class="col-lg-8">
          
          <!-- Call to Action Well -->
          <% if !producer_signed_in? && !customer_signed_in? %>
          <div class="card text-white bg-warning my-4 text-center">
            <div class="card-body">
              <p class="text-white m-0"><%= link_to "Sign Up", '/signup', class: 'btn btn-default' %> for your free account</p>
            </div>
          </div>
          <% end %>


          <!-- Carousel -->
          <%= render 'layouts/carousel' %>
          <!-- End Carousel -->


        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
          <h1>Custom Hampers</h1>
          <h4>The perfect place to buy presents for your loved ones</h4>
          <p>Christmas is just around the corner! Dont miss your opportunity to find amazing deals and wonderful products to send to your loved ones as a surprise Christmas present.</p>
          <p>You do not have to be registered in order to buy products, but by registering, you will be able to manage multiple hampers.</p>
          <%= link_to "Browse Products", products_path, class: 'btn btn-primary btn-lg' %>
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->

      

 	  <!-- Latest Products -->
      <h2>Latest Products</h2>

      <div class="row">
        
        <!-- Product -->
        <% @products.each do |product| %>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <%= link_to product do %>
              <img class="card-img-top" src="<%= primary_product_image(product.id) %>" alt="<%= product.name %>">
            <% end %>
            <div class="card-body">
              <h4 class="card-title">
                <%= link_to product.name, product %>
              </h4>
              <small><%= product.producer.name %></small>
              <p class="card-text"><%= product.description %></p>
            </div>
            <div class="card-footer text-muted">

              <% if !producer_signed_in? && !admin_signed_in? %>
                <%= render 'hamper_items/add_to_hamper', product: product %>
              <% end %>

              <%= render partial: '/products/likes', locals:{product: product}%>
            </div>
          </div>
        </div>
        <% end %>
        <!-- END Product -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->