<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :customer_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :customer_last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :customer_email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :customer_password %>
  </div>

  <div class="field">
    <%= form.label :email_confirmed %>
    <%= form.check_box :email_confirmed, id: :customer_email_confirmed %>
  </div>

  <div class="field">
    <%= form.label :join_date %>
    <%= form.date_select :join_date, id: :customer_join_date %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :customer_address %>
  </div>

  <div class="field">
    <%= form.label :address2 %>
    <%= form.text_field :address2, id: :customer_address2 %>
  </div>

  <div class="field">
    <%= form.label :county_id %>
    <%= form.number_field :county_id, id: :customer_county_id %>
  </div>

  <div class="field">
    <%= form.label :enabled %>
    <%= form.check_box :enabled, id: :customer_enabled %>
  </div>

  <div class="field">
    <%= form.label :admin_notes %>
    <%= form.text_field :admin_notes, id: :customer_admin_notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
