<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Email confirmed</th>
      <th>Join date</th>
      <th>Address</th>
      <th>Address2</th>
      <th>County</th>
      <th>Enabled</th>
      <th>Admin notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.first_name %></td>
        <td><%= customer.last_name %></td>
        <td><%= customer.email %></td>
        <td><%= customer.password %></td>
        <td><%= customer.email_confirmed %></td>
        <td><%= customer.join_date %></td>
        <td><%= customer.address %></td>
        <td><%= customer.address2 %></td>
        <td><%= customer.county_id %></td>
        <td><%= customer.enabled %></td>
        <td><%= customer.admin_notes %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
