

<!-- Page Content -->
<div class="container">

  <!-- Customer Name -->
  <h3 class="my-4 text-center"><%= "#{@customer.first_name} #{@customer.last_name}" %></h3>

  <% 
  # Only Admin can view this 
  if(admin_signed_in?) %>
    <div class="admin-controls">
      <h5>Administration tools</h5>
      <hr>
      
      <% if @customer.enabled==true || @customer.enabled==nil %>
      Status: <strong class="text-green">Enabled</strong>
      <%= link_to 'Disable Customer', @customer, class: 'btn btn-sm btn-warning', method: :delete, data: { confirm: 'Are you sure you want to disable this customer?' } %>
      <% end %>
    
      <% if @customer.enabled==false %>
      Status: <strong class="text-red">Disabled</strong>
      <%= link_to 'Enable Customer', enable_customer_path, class: 'btn btn-sm btn-primary', method: :put, data: { confirm: 'Do you want to enable this customer?' } %>
      <% end %>

    </div>
  <% end %>

  <!-- Row -->
  <div class="row">

    
    <!-- Details -->
    <div class="col-md-12">
      <div class="card">
        <h4 class="card-header">My Details</h4>
        <div class="card-body">
            <p>
              <strong>First Name:</strong>
              <%= @customer.first_name %>
            </p>

            <p>
              <strong>Last Name:</strong>
              <%= @customer.last_name %>
            </p>

            <p>
              <strong>Email:</strong>
              <%= @customer.email %>
            </p>


        </div>        
      </div>
    </div>



    <!-- Details -->
    <div class="col-md-12">
      
      <div class="card">
        <h4 class="card-header">My Orders</h4>
        <div class="card-body">
          <%= render "orders/order_details" %>
        </div>
      </div>

    </div>


    <!-- Details -->
    <div class="col-md-12">

      <div class="card">
        <h4 class="card-header">My Hampers</h4>
        <div class="card-body">
          <%= render "hampers/hamper_details" %>
        </div>
      </div>
      
    </div>


  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
