

<!-- Page Content -->
<div class="container">

  <!-- Customer Name -->
  <h3 class="my-4"><%= "#{@customer.first_name} #{@customer.last_name}" %></h3>
  <!-- Customer Email -->
  <h4><%= @customer.email %></h4>

  <% 
  # Only Admin can view this 
  if(admin_signed_in?) %>
    <div class="admin-controls">
      <h5>Administration tools</h5>
      <hr>
      
      <% if @customer.enabled==true || @customer.enabled==nil %>
      Status: <strong class="text-green">Enabled</strong>
      <%= link_to 'Disable Customer', @customer, class: 'btn btn-sm btn-warning', method: :delete, data: { confirm: 'Are you sure you want to disable this customer?' } %>
      <% end %>
    
      <% if @customer.enabled==false %>
      Status: <strong class="text-red">Disabled</strong>
      <%= link_to 'Enable Customer', enable_customer_path, class: 'btn btn-sm btn-primary', method: :put, data: { confirm: 'Do you want to enable this customer?' } %>
      <% end %>

    </div>
  <% end %>

  <!-- Row -->
  <div class="row">

    
    <!-- Details -->
    <div class="col-md-4">
      <div class="card">
        <h4 class="card-header">Details</h4>
        <div class="card-body">
            <p>
              <strong>First Name:</strong>
              <%= @customer.first_name %>
            </p>

            <p>
              <strong>Last Name:</strong>
              <%= @customer.last_name %>
            </p>

            <p>
              <strong>Email:</strong>
              <%= @customer.email %>
            </p>


        </div>        
      </div>
    </div>

    <!-- Details -->
    <div class="col-md-4">
      <div class="card">
        <h4 class="card-header">Hampers</h4>
        <div class="card-body">
          <% @customer.hampers.length %>
          <% @hampers.each do |hamper| %> 
            <%= hamper.name %> 
            <%= link_to 'Edit', edit_hamper_path(hamper) %>
            <%= link_to 'Delete', hamper, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>        
      </div>
    </div>


    <!-- Details -->
    <div class="col-md-4">
      <div class="card">
        <h4 class="card-header">Orders</h4>
        <div class="card-body">
          <ul>
          <% @orders.each do |order| %>  
            <li><%= order.updated_at %> <%= link_to 'Delete', order, method: :delete, data: { confirm: 'Are you sure?' } %></li>
              <ul>
                <% order.order_items.each do |item| %>
                  <li><%= item.hamper.name %></li>
                <% end %>
              </ul>
          <% end %>
          </ul>
        </div>        
      </div>
    </div>



  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
