<div class="container">
  <div class="row">
  	<div class="col-md-12">

      <h2>Edit My Profile</h2>

      <div class="card">
        
        <div class="card-body">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

            <div class="row">
              
              <!-- Contact details -->
              
              <div class="col-lg-6 col-md-6 col-sm-12">
                <h5>1. Contact Details</h5>
                <div class="form-group">
                  <%= f.label :name %>
                  <%= f.text_field :name, class: 'form-control', placeholder: 'Your Company Name', :required => true %>
                </div>
                
                <div class="form-group">
                  <%= f.label :address %>
                  <%= f.text_field :address, class: 'form-control', placeholder: 'Address Line 1', :required => true %>
                </div>

                <div class="form-group">
                  <%= f.label :address2 %>
                  <%= f.text_field :address2, class: 'form-control', placeholder: 'Address Line 2' %>
                </div>

                <div class="form-group">
                  <%= f.label :county %>
                  <%= f.select :county_id, options_from_collection_for_select(countyList, 'id', 'name', {selected: resource.county_id}), {}, {:include_blank => true, class: 'form-control', :required => true} 
                  %>
                </div>

                <div class="form-group">
                  <%= f.label "Telephone Number" %>
                  <%= f.text_field :contact_phone, class: 'form-control', placeholder: 'Telephone Number', :required => true %>
                </div>
<%
  if @producer.producer_images.count==0 then
    @producer.producer_images.build
  end
%>


<!-- IMAGE -->
		<h5>Profile Image</h5>
		<div class="row">
			<%= f.fields_for :producer_images do |image| %>

			<div class="col-md-4">
				<% 
				if (!image.object.id.blank?) then
					placeholder_id = "preview-" + @producer.id.to_s + "-" + image.object.id.to_s
					placeholder_image = image.object.src
				else
					placeholder_id = "preview-new"
					placeholder_image = "/images/placeholder.jpg"
				end
				%>
				<img src="<%= placeholder_image %>" class=" img-fluid" id='<%= placeholder_id %>'/>
				<button type="button" class="btn btn-success upload"><img src='/images/upload.svg'></button>
				<%= image.file_field :src, id: :producer_image_src, class: 'invisible' %>
			</div>

			<% end %>
		</div>






              </div>

              <div class="col-lg-6 col-md-6 col-sm-12">

                <h5>2. Sign in Details</h5>
                <div class="form-group">
                  <%= f.label :email %>
                  <%= f.email_field :email, class: 'form-control', placeholder: 'Email Address - used for log-in' %>
                </div>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div class="alert alert-danger" role="alert">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>
                
                <div class="form-group">
                  <%= f.label :password %><i>(leave blank if you don't want to change it)</i>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                  <%= f.password_field :password, class: 'form-control', autocomplete: "off", placeholder: 'Choose a password' %>
                </div>
                
                <div class="form-group">
                  <%= f.label :password_confirmation %>
                  <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off", placeholder: 'Confirm your password' %>
                </div>

              </div>

              <div class="col-lg-12">
                <hr>
                <h5>3. We need your current password to confirm your changes</h5>
                <div class="form-group">
                  <%= f.label :current_password %><br />
                  <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: 'Your CURRENT password' %>
                </div>
              </div>

            </div>


            <div class="form-group">
              <%= f.submit "Update", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>

    </div>

    <div class="col-md-12 ">

      <div class="card card-danger">
        <h5 class="card-header">Cancel my account</h5>
        <div class="card-body">
            <p>Unhappy?<br>We're sorry to see you go.</p>
            <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
        </div>
      </div>

      <%= link_to "Return to My Profile", producer_path(current_producer.id) %>
          
    </div>
  </div>
</div>
