<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="float-right">Total cost = <%= currency(@total) %></h1>
        </div>
    </div>



<h5>1. Review your order</h5>
    <div class="row">
        <%= "You have nothing in a hamper to order yet" if(@order.count==0)%>
    <%         
        @order.each do |item| 
            product = Product.find(item['id']) 
            src = primary_product_image(item['id']) 
    %>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                <%= link_to product do %>
                    <img class="card-img-top" src="<%= src %>" alt="<%= product.name %>">
                <% end %>
                <div class="card-body">
                    <h4 class="card-title">
                    <%= link_to product.name, product %>
                    </h4>
                    <p><%= item['q'].to_s + " x " + currency(item['p']) %></p>
                    <h5 class="float-right"><%= currency(item['q'] * item['p']) %></h5>
                </div>
                <div class="card-footer">
                    <small class="text-muted"><%= product.producer.name %></small>
                </div>
                </div>
            </div>
    <%  end %>
    </div>

<h5>2. Provide delivery details</h5>
    <%= form_tag('/orders') %>

        <input type="hidden" name="price" value="<%= @total %>">
        <div class="row">
            <div class="col-lg-12 card">
                <div class="card-body">
                    <div class="row">

                            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                <label for="firstname">Name</label>
                                <input class="form-control" placeholder="Your First Name" required type="text" name="firstname" id="firstname" />
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                <label for="lastname">Name</label>
                                <input class="form-control" placeholder="Your Last Name" required="required" type="text" name="lastname" id="lastname" />
                            </div>
                
                    </div>  
                    <div class="row">              
                            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                <label for="address1">Address</label>
                                <input class="form-control" placeholder="Address Line 1" required="required" type="text" name="address" id="address" />
                            </div>

                            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                <label for="address2">Address2</label>
                                <input class="form-control" placeholder="Address Line 2" type="text"  name="address2" id="address2" />
                            </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label for="producer_county">County</label>
                            <select class="form-control" required="required" name="county_id" id="county_id">
                                <option value=""></option>
                                <% countyList.each do |county|%>
                                <option value="<%=county.id%>"><%=county.name%></option>
                                <% end %>
                            </select>
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label for="contact_phone">Telephone number</label>
                            <input class="form-control" placeholder="Telephone Number" required="required" type="text" name="contact_phone" id="contact_phone" />
                        </div>
                    </div>          

                </div>
            </div>
        </div>
    <h5>3. Proceed to payment</h5>
    
                            <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="pk_test_4ptS9FAXPs8ZBlHdcifKph8s"
                                data-amount="<%= @total*100 %>"
                                data-name="Custom Hampers"
                                data-description="Unregistered customer purchase"
                                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                data-locale="auto"
                                data-zip-code="false"
                                data-currency="eur">
                            </script>
                            <img src="/images/powered_by_stripe.png" />
    </form>
</div>