<!-- Producer Name -->
<h3 class="my-4 text-center"><%= @producer.name %></h3>

<!-- Page Content -->
<div class="container card">


  <% 
  # Only Admin can view this 
  if(admin_signed_in?) %>
    <div class="admin-controls">
      <h5>Administration tools</h5>
      <hr>
      
      <% if @producer.enabled==true || @producer.enabled==nil %>
      Status: <strong class="text-green">Enabled</strong>
      <%= link_to 'Disable Producer', @producer, class: 'btn btn-sm btn-warning', method: :delete, data: { confirm: 'Are you sure you want to disable this producer?' } %>
      <% end %>
    
      <% if @producer.enabled==false %>
      Status: <strong class="text-red">Disabled</strong>
      <%= link_to 'Enable Producer', enable_producer_path, class: 'btn btn-sm btn-primary', method: :put, data: { confirm: 'Do you want to enable this producer?' } %>
      <% end %>

    </div>
  <% end %>


  <!-- Row -->
  <div class="row">

    <!-- Image -->
    <div class="col-md-12">
      <img class="img-fluid" src="http://via.placeholder.com/1200x300" alt="">
    </div>

    <!-- About -->
    <div class="col-md-6">
      <div class="">
        <h4 class="card-header">About</h4>
        <div class="card-body">
          <p class="card-text">
            <%= @producer.about %>

            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.

          </p>
        </div>        
      </div>
    </div>

    <!-- Details -->
    <div class="col-md-6">
      <div class="">
        <h4 class="card-header">Details</h4>
        <div class="card-body">
            <p>
              <strong>Name:</strong>
              <%= @producer.name %>
            </p>

            <p>
              <strong>Email:</strong>
              <%= @producer.email %>
            </p>
            <p>
              <strong>Phone:</strong>
              <%= @producer.contact_phone %>
            </p>
            <p>
              <strong>Address:</strong><br>
              <%= "#{@producer.address}, " if @producer.address %>
              <%= "#{@producer.address2}, " if @producer.address2 %>
              <%= "#{County.find(@producer.county_id).name}" if @producer.county_id %>
            </p>

        </div>        
      </div>
    </div>



  </div>
  <!-- /.row -->

  <!-- Products Row -->
  <div class="row">

    <div class="col-md-12">
      <h4>Products</h4>
    </div>

    <% 
    @producer.products.each do |product| 
      # only show disabled products to owner or admin
      if product.enabled == false && (!producer_signed_in? || current_producer.id != @producer.id) && !admin_signed_in?
        next
      end
    %>
    <div class="col-md-3 col-sm-6 mb-4">
      <%= link_to product do %>
        <img class="img-fluid" src="<%= primary_product_image(product.id) %>" alt="<%= product.name %>">
        <% if product.enabled == false %>
          <div class="text-red text-center">[DISABLED]</div>
        <% end %>
        <% if product.deleted == true %>
          <div class="text-red text-center">[DELETED]</div>
        <% end %>
        <p class="text-center"><%= product.name %></p>
      <% end %>
    </div>
    <% end %>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
