<!-- Categories -->
<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <h2>Categories</h2>
    </div>
  </div>

  <div class="row">

    <!-- Categories -->
    <% categoryList.each do |category| %>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <%= link_to category do %>
          <img class="card-img-top" src="http://placehold.it/700x400" alt="<%= category.name %>">
        <% end %>
        <div class="card-body">
          <h4 class="card-title">
            <%= link_to category.name, category %>
          </h4>          
          <p class="card-text"><%= category.description %></p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><%= link_to pluralize(category.products.count, "product"), "/products/category/#{category.id}", class:'btn btn-primary' %></small>
        </div>
      </div>
    </div>
    <% end %>

</div>
<!-- End Categories -->