<p id="notice"><%= notice %></p>

<h1>Producer Images</h1>

<table>
  <thead>
    <tr>
      <th>Producer</th>
      <th>Src</th>
      <th>Primary image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @producer_images.each do |producer_image| %>
      <tr>
        <td><%= producer_image.producer_id %></td>
        <td><%= producer_image.src %></td>
        <td><%= producer_image.primary_image %></td>
        <td><%= link_to 'Show', producer_image %></td>
        <td><%= link_to 'Edit', edit_producer_image_path(producer_image) %></td>
        <td><%= link_to 'Destroy', producer_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Producer Image', new_producer_image_path %>
