<p id="notice"><%= notice %></p>

<p>
  <strong>Producer:</strong>
  <%= @producer_image.producer_id %>
</p>

<p>
  <strong>Src:</strong>
  <%= @producer_image.src %>
</p>

<p>
  <strong>Primary image:</strong>
  <%= @producer_image.primary_image %>
</p>

<%= link_to 'Edit', edit_producer_image_path(@producer_image) %> |
<%= link_to 'Back', producer_images_path %>
