 <div class="input-group add-group float-right">
      <input type="number" class="form-control form-control-sm quantity" value=1 min=1 data-id="<%= product.id %>" data-price="<%= product.price %>">

      <% 
      if customer_signed_in? then 
        
        # @hampers = Hamper.where(:customer_id => current_customer[:id]) 
        @hampers = Hamper.where('customer_id = ? AND ordered = ?', current_customer.id, false) 
      
      %>
        <div class="btn-group" role="group">
          <button id="add_button_<%= product.id %>" type="button" class="btn btn-add-to-cart dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Buy
          </button>
          <div class="dropdown-menu" aria-labelledby="add_button_<%= product.id %>" style="width:250px">
            <div class="add-menu">
              
              <small class="pl20">Choose a hamper:</small>
              <% @hampers.each do |item| %>
                <button class="dropdown-item add" type="button" data-hamper="<%= item.id %>" style="cursor:pointer"><%= item.name %></button>
              <% end %>
            </div>
            <div class="dropdown-divider"></div>
            <div class="pl20">
              <button class="btn btn-sm btn-success add new_hamper" type="button" data-do="NEW_HAMPER" data-id="<%= product.id %>" data-price="<%= product.price %>">New hamper</button>
              
              <a href="/hampers" class="btn btn-sm btn-warning" role="button" aria-pressed="true">View hampers</a>
              
            </div>
          </div>
        </div>

      <% else %>

        <span class="input-group-btn">
          <button class="btn btn-add-to-cart btn-sm add" type="button">Buy</button>
        </span>

      <% end %>

</div>