 <div class="input-group add-group float-right">
      <input type="number" class="form-control form-control-sm quantity" value=1 min=1 data-id="<%= product.id %>" data-price="<%= product.price %>">

      <% 
      if customer_signed_in? then 
        
        @hampers = Hamper.where(:customer_id => current_customer[:id])  
      
      %>
        <div class="btn-group" role="group">
          <button id="add_button_<%= product.id %>" type="button" class="btn btn-add-to-cart dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add
          </button>
          <div class="dropdown-menu" aria-labelledby="add_button_<%= product.id %>">
            <div class="add-menu">
            <% @hampers.each do |item| %>
              <button class="dropdown-item add" type="button" data-hamper="<%= item.id %>"><%= item.name %></button>
            <% end %>
            </div>
            <div class="dropdown-divider"></div>
            <div style="text-align:center">
              <button class="btn btn-primary add new_hamper" type="button" data-do="NEW_HAMPER" data-id="<%= product.id %>" data-price="<%= product.price %>">New</button>
              <a href="/hampers" class="btn btn-primary" role="button" aria-pressed="true">Edit</a>
            </div>
          </div>
        </div>

      <% else %>

        <span class="input-group-btn">
          <button class="btn btn-add-to-cart btn-sm add" type="button">Add</button>
        </span>

      <% end %>

</div>