<p id="notice"><%= notice %></p>

<h1>Hamper Items</h1>

<table>
  <thead>
    <tr>
      <th>Hamper</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price when ordered</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hamper_items.each do |hamper_item| %>
      <tr>
        <td><%= hamper_item.hamper_id %></td>
        <td><%= hamper_item.product_id %></td>
        <td><%= hamper_item.quantity %></td>
        <td><%= hamper_item.price_when_ordered %></td>
        <td><%= link_to 'Show', hamper_item %></td>
        <td><%= link_to 'Edit', edit_hamper_item_path(hamper_item) %></td>
        <td><%= link_to 'Destroy', hamper_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hamper Item', new_hamper_item_path %>
