


  
  <div class="field">
    <%= form.label :src, 'REPLACE IMAGE', class: 'upload' %>
    <%= form.file_field :src, id: :product_image_src %>
  </div>

  <div class="field">
    <%= form.label :primary_image %>
    <%= form.check_box :primary_image, id: :product_image_primary_image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>