<!-- Page Content -->
    <div class="container card">

      <div class="row">

        <% if @category %>
        <div class="col-lg-12">
          <h5><%= @category.name %></h5>
          <p><%= @category.description %></p>

          <!-- Image -->
          <% if !@category.image.blank? then%>              
              <div style="width:100%; height:300px; background-image: url(<%= @category.image %>); background-position: center; background-size: cover"></div>       
          <% end %>

        </div>
        <% end %>

        <div class="col-lg-3">
          
          <h4 class="my-4">Categories</h4>
          <div class="list-group">
            <% categoryList.each do |category| %>          
              <%= link_to category.name, "/products/category/#{category.id}", class: "list-group-item #{'active' if @category && @category.id==category.id}" %>
            <% end %>
          </div>

          <h4 class="my-4">Search</h4>
          <div class="">
            
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Enter keyword" id="keyword" value="<%= @keyword %>">
            </div>
            <div class="form-group">
              <button class="btn btn-primary" onclick="
                window.location.href='/products/search/'+$('#keyword').val();
              ">Search</button>
            </div>
          
          </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <!-- Products -->
          <div class="row">

            <!-- Product -->
            <% @products.each do |product| %>
            <div class="col-lg-6 col-md-6 mb-4">
              <div class="card h-100">
                <%= link_to product do %>
                  <img class="card-img-top" src="<%= primary_product_image(product.id) %>" alt="<%= product.name %>">
                <% end %>
                <div class="card-body">
                  <h4 class="card-title">
                    <%= link_to product.name, product %>
                  </h4>
                  <small><%= product.producer.name %></small>
                  <h5><%= currency(product.price) %></h5>
                  <p class="card-text"><%= product.description %></p>
                </div>
                <div class="card-footer text-muted">
                  <% if !producer_signed_in? && !admin_signed_in? %>
                    <%= render 'hamper_items/add_to_hamper', product: product %>
                  <% end %>
                  <%= render partial: '/products/likes', locals:{product: product}%>
                </div>
              </div>
            </div>
            <% end %>
            <!-- END Product -->

          </div>
          <!-- /.row -->
          <div class="row">
            <div class="col">
              <nav>
                <% if @total_products == 0 %>
                  <div style="height:80px"></div>
                <% end %>

                <% if @total_products > 0 %>
                <ul class="pagination">
                  <%

                  %>

                  <li class="page-item <%= " disabled" if @offset<=0 %>"><a class="page-link" href="<%=@url%>?offset=<%= @offset-4 %>">Previous</a></li>

                  <% 1.upto((@total_products.to_f/4).ceil) do | index | %>

                    <li class="page-item <%= " disabled" if (@offset/4)+1==index %>"><a class="page-link" href="<%=@url%>?offset=<%= (4*(index-1)) %>"><%=index%></a></li>
                  
                  <% end %>
                  
                  
                  <li class="page-item <%= " disabled" if @total_products-@offset<=4 %>"><a class="page-link" href="<%=@url%>?offset=<%= @offset+4 %>">Next</a></li>
                </ul>                
                <% end %>
                <div class="pagination-total">
                
                  <h5>Total Products: <%= @total_products%></h5>
                    
                </div>
              </nav>
            </div>
          </div>
        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

