<p id="notice"><%= notice %></p>

<p>
  <strong>Producer:</strong>
  <%= @product.producer_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @product.deleted %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @product.enabled %>
</p>

<p>
  <strong>Admin notes:</strong>
  <%= @product.admin_notes %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @product.discount %>
</p>

<p>
  <strong>Min quantity:</strong>
  <%= @product.min_quantity %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @product.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @product.end_date %>
</p>

<p>
  <strong>Contains cerials:</strong>
  <%= @product.contains_cerials %>
</p>

<p>
  <strong>Contains crustaceans:</strong>
  <%= @product.contains_crustaceans %>
</p>

<p>
  <strong>Contains eggs:</strong>
  <%= @product.contains_eggs %>
</p>

<p>
  <strong>Contains fish:</strong>
  <%= @product.contains_fish %>
</p>

<p>
  <strong>Contains peanuts:</strong>
  <%= @product.contains_peanuts %>
</p>

<p>
  <strong>Contains soybeans:</strong>
  <%= @product.contains_soybeans %>
</p>

<p>
  <strong>Contains milk:</strong>
  <%= @product.contains_milk %>
</p>

<p>
  <strong>Contains nuts:</strong>
  <%= @product.contains_nuts %>
</p>

<p>
  <strong>Contains celery:</strong>
  <%= @product.contains_celery %>
</p>

<p>
  <strong>Contains mustard:</strong>
  <%= @product.contains_mustard %>
</p>

<p>
  <strong>Contains semsame:</strong>
  <%= @product.contains_semsame %>
</p>

<p>
  <strong>Contains sulphur:</strong>
  <%= @product.contains_sulphur %>
</p>

<p>
  <strong>Contains lupin:</strong>
  <%= @product.contains_lupin %>
</p>

<p>
  <strong>Contains mullucus:</strong>
  <%= @product.contains_mullucus %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
