<!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Heading -->
      <h1 class="my-4"><%= @product.name %>
        <small>by <%= @product.producer.name %></small>
      </h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
          <img class="img-fluid" src="http://placehold.it/750x500" alt="">
        </div>

        <div class="col-md-4">
          <h3 class="my-3"><%= @product.name %></h3>
          <p><%= @product.description %></p>
          <h5 class="my-5">&euro; <%= @product.price %></h5>
          <%= link_to "Add to Cart", products_path, class: 'btn btn-primary' %>
        </div>

      </div>
      <!-- /.row -->

      <!-- Related Products Row -->
      <h3 class="my-4">More Products from <%= @product.producer.name %></h3>

      <div class="row">

        <% @more_products.each do |product| %>
        <div class="col-md-3 col-sm-6 mb-4">
          <%= link_to product do %>
            <img class="img-fluid" src="http://placehold.it/500x300" alt="<%= product.name %>">
          <% end %>
        </div>
        <% end %>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->