<!-- Navigation --> <nav class="navbar navbar-expand-lg navbar-dark bg-dark
fixed-top">   <div class="container">

    <%= link_to "Custom Hampers", root_path, class:"navbar-brand" %>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarResponsive">
      
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: 'nav-link' %>
        </li>

        <!-- moved to welcome page
        <% if !producer_signed_in? && !customer_signed_in? %>
        <li class="nav-item">
          <span class="badge badge-danger"><a href="/signup" class="nav-link">SIGNUP NOW</a></span>
        </li>
        <% end %>
        -->

        <li class="nav-item">
          <%= link_to "Products", products_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "About us", about_path, class: 'nav-link' %>
        </li>


        <% if producer_signed_in? || customer_signed_in? %>   

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="signedinmenu" role="button" data-toggle="dropdown">
            My Account <span class="caret"></span></a>
            <div class="dropdown-menu dropdown-menu-right">

              <%= producer_signed_in? ?   link_to("My Profile", producer_path(current_producer.id), class: 'dropdown-item') : link_to("My Profile", customer_path(current_customer.id), class: 'dropdown-item') %>

              <%= producer_signed_in? ?   link_to("Edit Profile", edit_producer_registration_path, class: 'dropdown-item') : link_to("Edit Profile", edit_customer_registration_path, class: 'dropdown-item') %>
              <div class="dropdown-divider"></div>
              <%= producer_signed_in? ?   link_to("Sign Out", destroy_producer_session_path, method: :delete, class: 'dropdown-item') : link_to("Sign Out", destroy_customer_session_path, method: :delete, class: 'dropdown-item') %>
            </div>
          </li>

        <% else %>  

          <li class="dropdown nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">Sign In <span class="caret"></span></a>
            <div class="dropdown-menu dropdown-menu-right">
              <%= link_to "Log in as Producer", new_producer_session_path, class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <%= link_to "Log in as Customer", new_customer_session_path, class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item disabled" href="#">Not signed up yet?</a>
              <%= link_to "Sign up now", '/signup', class: 'dropdown-item' %>
            </ul>
          </li>
          
        <% end %>

      </ul>



    </div>
  </div>
</nav>
<!-- End Navigation -->
