<!DOCTYPE html>
<html>
  <head>
    <title>Custom Hampers</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= favicon_link_tag 'favicon.ico' %>
    
  </head>


  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/navbar' %>
 
    <div class="container" id="main-container">
      <p class="notice text-center"><%= notice %></p>
      <p class="alert text-center"><%= alert %></p>
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
