<%= render 'layouts/header' %>
<%= render 'layouts/navbar' %>

<div class="container" id="main-container">
  <p class="notice text-center"><%= notice %></p>
  <p class="alert text-center"><%= alert %></p>
  <%= yield %>
</div>

<div id="drawer">
  <%= render 'hampers/session' %>
</div>


<!-- Hamper Modal -->
<div id="hamperModal" class="modal fade modal-hamper-items" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">      
      <div class="modal-body">
        <div id="modal-ajax-content">          
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<%= render 'layouts/footer' %>


