<!DOCTYPE html>
<html>
  <head>
    <title>SSWTProject</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': false %>
    <%= favicon_link_tag 'favicon.ico' %>
    
  </head>


  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/navbar' %>
 
    <div class="container" id="main-container">
      <p class="notice text-center"><%= notice %></p>
      <p class="alert text-center"><%= alert %></p>
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
    <%= render 'hampers/modal'%>
  </body>
</html>
